# coin-tax configuration file, usually read from ~/.coin-tax
[BitcoinTaxes]
api=https://api.bitcoin.tax/v1
api_key=123
api_secret=456
db=dbi:SQLite:dbname=~/.BitcoinTaxes.db
price_query_cmd=coinlib -s $SYMBOL -c $CURRENCY -d $DATE -f price

[Coinlib]
# Powered by Coinlib API https://coinlib.io/apidocs
api=https://coinlib.io/api/v1
api_key=123
db=dbi:SQLite:dbname=~/.coinlib.db
coins=BTC,LTC,ETH
currencies=EUR

[Coinlib-Historical]
# Powered by Coinlib API https://coinlib.io/apidocs
api=

